// place your custom styles here
em {
    color: var(--theme-color, red);
}

u {
    text-decoration: none;
    border-bottom: solid 1px var(--theme-color, red);
}

.blog-hero .description {
    color: var(--theme-color, red);
}