name: 部署文档

on:
  push:
    branches:
      # 确保这是你正在使用的分支名称
      - dev

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # 如果你文档需要 Git 子模块，取消注释下一行
          # submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm

      - name: Build Docs
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm docs:build

      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        with:
          REPO: git@github.com:quinlan-l/prn-repo-web.git
          BRANCH: gh-pages
          FOLDER: dist